body {
font: 14px/1.5 Helvetica, Arial, sans-serif;
background-color: #ffffff; 
color: #000;
}

li {
display: inline;
}

#mainmenu {
background: url("bg.gif") repeat-x scroll left top white;
color: #FFF;
text-align: right;
padding-right:1em;
}

#copyright{
float:right;
bottom:1em;
z-index:99;
width:10em;
}

#logo{
position:relative;
right:0;
padding-bottom:10px;
}

#introtxt{
margin:auto;
}

#captcha{
text-align:center;
font-size:18px;
margin:auto;
width:35em;
z-index:99;
margin-bottom:1em;
}

.comment{
margin:1em;
##border:1px solid blue;
background:#E6DBDB;
}

.comments{
border: 3px double #E1D0D0;
}

.email{
text-align:right;
margin-right:1em;
}
.title{
font-size:18px;
margin:1ex;
}

.commentText{
margin-left:1em;
}
